name: Releases

on:
  push:
    tags:
    - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TZ: Asia/Shanghai
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v5
      - name: set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: '8.14.3'

      - name: Build jar
        run: |
          chmod +x gradlew
          ./gradlew build -Duser.timezone=Asia/Shanghai
      - uses: ncipollo/release-action@v1
        with:
          allowUpdates: "true"
          artifacts: "build/libs/playermilk-*-*.jar"
